<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>inscribir</servlet-name>
        <servlet-class>servlets.inscribir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>disciplinas</servlet-name>
        <servlet-class>servlets.disciplinas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tipodocumento</servlet-name>
        <servlet-class>servlets.tipodocumento</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>inscribir</servlet-name>
        <url-pattern>/inscribir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>disciplinas</servlet-name>
        <url-pattern>/disciplinas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tipodocumento</servlet-name>
        <url-pattern>/tipodocumento</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
